html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
}

.gotop{
    position: fixed;
    padding: 10px;
    right: 10px;
    bottom: 10px;
}

.gotop a{
    padding: 10px;
    background-color: red;
    border-radius: 50%;
    text-decoration: none;
    color: white;
}

.mygrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 50px 150px;
    gap: 50px;
}

.mygrid div{
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
}

.mygrid div:hover{
    box-shadow: 0px 1px 10px rgb(75, 69, 69);
    transform: scale(1.01);
}

.mygrid img{
    width: 100%;
}

@media screen and (max-width:1024px) {
    .mygrid{
        padding: 50px;
    grid-template-columns: 1fr 1fr 1fr;

    }
}

@media screen and (max-width:768px) {
    .mygrid{
        grid-template-columns: 1fr 1fr;
        padding: 20px;
        gap: 20px;
    }
}

@media screen and (max-width:480px) {
    .mygrid{
        gap: 10px;
        padding: 10px;
        grid-template-columns: 1fr;
    }
}