body{
    font-family: sans-serif;
    background-color: aliceblue;
}

.login-div{
    width: 70%;
    margin: auto;
    box-shadow: 0px 1px 5px rgb(105, 105, 105);
    border-radius: 10px;
    height: 500px;
    margin-top: 50px;

}

.right-div{
    width: 50%;
    background-color: rgb(214, 88, 88);
    color: white;
    text-align: center;
    float: left;
    border-radius: 0px 10px 10px 0px;
    height: 100%;
}

.left-div{
    width: 50%;
    background-color: white;
    float: left;
    height: 100%;
    border-radius: 10px 0 0 10px;
    text-align: center;
}

.left-div h2{
    margin-top: 80px;
}

.myform{
    margin-top: 50px;
    padding: 20px;
}

.input-group{
    margin: 20px;
}

.input-group input{
    width: 80%;
    padding: 15px;
    border: none;
    background-color: aliceblue ;
    border-radius: 10px;
}

.input-group a{
    text-decoration: none;
    color: rgb(132, 128, 128);
}

.input-group button{
    background-color: rgb(214, 88, 88);
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 20px;
}

.right-div h2{
    margin-top: 40%;
}