body{
    font-family: sans-serif;
}

.mygrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 50px 150px;
}

.card{
    background-color: aliceblue;
    position: relative;
}

.card img{
    width: 100%;
}

.offer{
    background-color: blue;
    padding: 10px;
    color: white;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.menu{
    background-color: blue;
    padding: 20px;
    text-align: right;
}

.menu li{
    display: inline;
    padding: 10px;
    position: relative;
}
.menu a{
    color: white;
    text-decoration: none;
}

.menu li:hover{
    background-color: red;
}

.menu li:hover .dropdown{
    display: block;
}

.dropdown{
    position: absolute;
    left: 0;
    background-color: rgb(63, 95, 123);
    padding: 0;
    margin-top: 8px;
    list-style-type: none;
    width: 100px;
    text-align: center;
    z-index: 1000;
    display: none;
}

.dropdown li{
    display: block;
}