body{
    font-family: sans-serif;
}

.text-center{
    text-align: center;
}

.mytable{
    background-color: rgb(175, 186, 196);
    width: 600px;
    text-align: center;
    margin: auto;
    border-collapse: collapse;
}

.mytable th, .mytable td{
    padding: 10px;
    border: 1px solid rgb(109, 75, 75);
}

.mytable th{
    background-color: green;
    color: white;
}

.mytable tr:nth-child(odd){
    background-color: rgb(210, 210, 190);
}

.mytable tr:hover{
    background-color: rgb(168, 143, 143);
    color: white;
    cursor: pointer;
}